@font-face {
  font-family: 'roboto-font';
  src:
    url('/fonts/Roboto-Bold.woff') format('woff');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-font';
  src:
    url('/fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
