body {
  background: url(img/Background.png) no-repeat;
  color: #fff;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto 102px 61px;
}

.header__title {
  font: bold 53px 'roboto-font', sans-serif;
  margin: 0 0 13px 0;
  padding: 131px 0 0 0;
  letter-spacing: 0.6px;
}

.header__subtitle {
  font: bold 18px/22px 'roboto-font', sans-serif;
  margin: 0;
  padding-left: 3px;
}

.start_then {
  display: none;
}

.start::before {
  content: "";
  position: absolute;
  width: 218px;
  height: 341px;
  left: 888.33px;
  top: 530px;
  background: url(img/Card.png);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  transform: rotate(11.9deg);
}

.start::after {
  content: "";
  position: absolute;
  width: 218px;
  height: 341px;
  left: 1069.33px;
  top: 547px;
  background: url(img/Card.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(-2px 0px 1px rgba(0, 0, 0, 0.3));
  transform: rotate(39.26deg);
}

.start__level {
  margin: 0 21px 112px;
  padding: 0;
}

.start__choose {
  display: flex;
  list-style-type: none;
  cursor: pointer;
  font: bold 47px/57px 'roboto-font', sans-serif;
  padding-bottom: 26px;
  padding-left: 131px;
  letter-spacing: 0.6px;
}

.start__rectangle {
  background: no-repeat url(img/Rectangle.png);
  background-position: 6% 26%;
}

.start__btn {
  cursor: pointer;
  width: 352px;
  height: 95px;
  background: #d62b2e;
  border-radius: 7px;
  border-color: transparent;
  font: bold 32px/37px 'roboto-font', sans-serif;
  color: #fff;
  margin: -24px 0 0 103px;
  padding: 0;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game__line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 479px;
}

.game__img {
  position: relative;
  margin: 10px 12px;
  width: 218px;
  height: 341px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.game__img_change {
  transform: rotateY(180deg);
}

.game__front, 
.game__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.game__back:hover {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  transition: transform 1s linear;
  transform: rotate(-3.08deg);
}

.game__pic, 
.game__result {
  width: 100%;
  height: 100%;
}

.game__front {
  transform: rotateY(180deg);
}

@media (max-width: 1900px) {
  .game__line {
    margin-right: 340px;
  }
}

@media (max-width: 1500px) {
  .game__line {
    margin-right: 80px;
  }
}

@media (max-width: 1300px) {
  body {
    background-size: 130%;
  }

  .start::before {
    left: 795.33px;
  }

  .start::after {
    left: 983.33px;
  }

  .game {
    height: 95vh;
  }

  .game__line {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  body {
    background-size: 151%;
  }

  .start::before {
    left: 686.33px;
  }

  .start::after {
    left: 868.33px;
  }

  .game__pic,
  .game__result {
    width: 200px;
    height: 330px;
  }

  .game__line {
    margin: 8px auto;
  }

  .game__img {
    margin: 0 8px;
    width: 200px;
    height: 330px;
  }
}

@media (max-width: 1100px) {
  body {
    background-size: 160%;
  }

  .start::before {
    left: 532.33px;
  }

  .start::after {
    left: 715.33px;
  }

  .game__img {
    width: 152px;
    height: 239px;
  }

  .game__pic,
  .game__result {
    width: 152px;
    height: 239px;
  }
}

@media (max-width: 1000px) {
  body {
    background-size: 167%;
  }

  .game__img {
    margin: 0 16px;
    width: 200px;
  }

  .game__pic,
  .game__result {
    width: 200px;
    height: 320px;
  }

  .start::before {
    left: 543.33px;
  }

  .start::after {
    left: 720.33px;
  }
}

@media (max-width: 900px) {
  body {
    background-size: 206%;
  }

  .start::after {
    left: 780.33px;
  }

  .start::before {
    left: 600.33px;
  }

  .game__img {
    width: 140px;
  }

  .game__pic,
  .game__result {
    width: 155px;
    height: 242px;
  }
}

@media (max-width: 800px) {
  body {
    background-size: 237%;
  }

  .start::after,
  .start::before {
    display: none;
  }

  .game__img {
    width: 107px;
    height: 168px;
  }

  .game__pic,
  .game__result {
    width: 107px;
    height: 168px;
  }
}

@media (max-width: 680px) {
  .game__pic,
  .game__result {
    width: 120px;
    height: 190px;
  }

  .game__img {
    width: 100px;
  }

  .start__btn {
    width: 250px;
    height: 80px;
    font-size: 24px;
  }
}

@media (max-width: 580px) {
  body {
    background-size: 290%;
  }

  .header {
    margin: auto 72px 61px;
  }

  .header__title {
    font-size: 35px;
    line-height: 40px;
  }

  .header__subtitle {
    font-size: 15px;
    line-height: 19px;
  }

  .start__level {
    margin: 0 21px 48px;
  }

  .start__choose {
    font-size: 35px;
    line-height: 40px;
    padding-left: 108px;
  }

  .start__rectangle {
    background-position: 12% 26%;
  }

  .game {
    height: 74vh;
    width: 90%;
  }

  .game__pic,
  .game__result {
    width: 80px;
    height: 150px;
  }

  .game__img {
    width: 54px;
    height: 150px;
  }
}

@media (max-width: 450px) {
  body {
    background-size: 330%;
  }

  .header {
    margin: auto 17px 37px;
  }

  .header__title {
    font: bold 35px/40px 'roboto-font', sans-serif;
    padding: 100px 0 0 0;
  }

  .header__subtitle {
    font: bold 15px/19px 'roboto-font', sans-serif;
  }

  .start__btn {
    font: bold 23px/37px 'roboto-font', sans-serif;
    margin: -25px 0 0 79px;
  }

  .start__level {
    margin: 0 0 50px;
  }

  .start__choose {
    font: bold 30px/40px 'roboto-font', sans-serif;
    padding-bottom: 15px;
  }
}

@media (max-width: 426px) {
  .game {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 93vh;
    width: 100vw;
  }

  .game__line {
    display: block;
  }
}

@media (max-width: 380px) {
  body {
    background-size: 445%;
  }
  
  .header__title {
    font-size: 29px;
  }

  .header__subtitle {
    font-size: 14px;
  }

  .start__rectangle {
    background-position: 7% 26%;
  }

  .start__choose {
    padding-left: 72px;
  }

  .start__btn {
    width: 240px;
    height: 70px;
    margin: -25px 0 0 35px;
  }

  .game {
    width: 90vw;
    height: 73vh;
    flex-direction: row;
  }

  .game__line {
    margin: 0;
  }
}
