body {
  background: url(img/Background.png) no-repeat;
  background-size: 110%;
  color: #fff;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto 102px 61px;
}

.header__title {
  font: bold 53px 'roboto-font', sans-serif;
  margin: 0 0 13px 0;
  padding: 131px 0 0 0;
  letter-spacing: 0.6px;
}

.header__title_level {
  display: none;
}

.header__instruction {
  font: bold 18px/22px 'roboto-font', sans-serif;
  margin: 0;
  padding-left: 3px;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.start_then {
  display: none;
}

.start::before {
  content: "";
  position: absolute;
  width: 218px;
  height: 341px;
  left: 1161.33px;
  top: 530px;
  background: url(img/Card.png);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  transform: rotate(11.9deg)
}

.start::after {
  content: "";
  position: absolute;
  width: 218px;
  height: 341px;
  left: 1333.33px;
  top: 547px;
  background: url(img/Card.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(-2px 0px 1px rgba(0, 0, 0, 0.3));
  transform: rotate(39.26deg);
}

.start__level {
  margin: 0 152px 112px;
  padding: 0;
}

.start__choose {
  list-style-type: none;
  cursor: pointer;
  font: bold 47px/57px 'roboto-font', sans-serif;
  padding-bottom: 26px;
  letter-spacing: 0.6px;
}

.start__rectangle {
  list-style-image: url(img/Rectangle.png);
}

.start__btn {
  cursor: pointer;
  width: 352px;
  height: 95px;
  background: #d62b2e;
  border-radius: 7px;
  border-color: transparent;
  font: bold 32px/37px 'roboto-font', sans-serif;
  color: #fff;
  margin: 2px 0 0 103px;
  padding: 0;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game__line {
  margin: 12px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.game__img {
  position: relative;
  margin: 0 12px;
  width: 218px;
  height: 341px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.game__img_change {
  transform: rotateY(180deg);
}

.game__front, .game__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.game__back:hover {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  transition: transform 1s linear;
  transform: rotate(-3.08deg);
}

.game__pic, .game__result {
  width: 218px;
  height: 341px;
}

.game__front {
  transform: rotateY(180deg);
}

@media (max-width: 1300px) {
  body {
    background-size: 130%;
  }

  .start::before {
    left: 795.33px;
  }

  .start::after {
    left: 983.33px;
  }
}

@media (max-width: 1200px) {
  body {
    background-size: 151%;
  }

  .start::before {
    left: 695.33px;
  }

  .start::after {
    left: 886.33px;
  }

  .game__line {
    margin: 8px auto;
  }

  .game__img {
    margin: 0 8px;
  }
}

@media (max-width: 1100px) {
  .game__img {
    width: 210px;
  }
}

@media (max-width: 1000px) {
  body {
    background-size: 167%;
  }

  .game__img {
    margin: 0 16px;
    width: 200px;
  }

  .game__pic,
  .game__result {
    width: 200px;
    height: 320px;
  }
}

@media (max-width: 900px) {
  body {
    background-size: 206%;
  }

  .start::after {
    left: 780.33px;
  }

  .start::before {
    left: 600.33px;
  }

  .game__img {
    width: 140px;
  }

  .game__pic,
  .game__result {
    width: 155px;
    height: 242px;
  }
}

@media (max-width: 800px) {
  body {
    background-size: 237%;
  }

  .start::after,
  .start::before {
    display: none;
  }
}

@media (max-width: 680px) {
  .game__pic,
  .game__result {
    width: 120px;
    height: 190px;
  }

  .game__img {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .header {
    margin: auto 10px 13px;
  }

  .header__title {
    font: bold 28px 'roboto-font', sans-serif;
    margin: 0px 0 12px 0;
    padding: 35px 0 0 0;
  }

  .header__instruction {
    font: bold 12px/21px 'roboto-font', sans-serif;
  }

  .start__btn {
    width: 239px;
    height: 65px;
    font: bold 23px/37px 'roboto-font', sans-serif;
    margin: 47px 0 0 33px;
  }

  .start__choose {
    font: bold 31px/44px 'roboto-font', sans-serif;
    padding-bottom: 1px;
  }

  .start__level {
    margin: 10px 0 0 69px;
  }
}
